    /* .App {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 16px;
      padding-bottom:16px;
      gap: 16px;
    
      width: 100%;
      list-style: none;
    }
    
.container {
  max-width: 1200px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  text-align: center;
 border: 1px solid black; 
 border-radius: 10px;
}   */

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.upButton {
  position: fixed;
  right: 32px;
  bottom: 32px;

  display: block;
  width: 32px;
  height: 32px;

  margin: 0;


  border: none;
  background-color: transparent;



  opacity: .5;


  background-image: url("../images/arrowup.svg");
  background-size: contain;

  cursor: pointer;
}

 